body {
    font-family: sans-serif;
    font-size: 12px;
    color:darkslategrey;
    margin: 0px 50px 0px 50px;
    background-color: aliceblue;
}

header {
    background-color: skyblue;
    font-size: 30px;
    color: dimgray;
    padding: 30px 25px 10px 25px;
}
article {
    background-color: whitesmoke;
    padding: 25px;
    border-radius: 5px;
}

nav {
    background-color: silver;
    padding: 5px 25px 5px 25px ;
}

nav li {
    display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

nav li a {
    display: inline-block;
    background-color: lightgrey;
    width: 100px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    color: slategray;
    padding: 5px 0px 0px 0px ;
    border: 1px solid silver;
}

nav li a:hover {
    background-color: white;
}

